<div class="container center">
                <div class="footer-widgets-wrap">
                    <div class="row divcenter clearfix">
                        <div class="col-md-4">
                            <div class="widget clearfix">
                                <h4>SABER MÁS</h4>
                                <ul class="list-unstyled footer-site-links nobottommargin">
                                    <li><a href="/carrera-profesional/">Carrera profesional</a></li>
                                    <li><a href="/consultor-seo/">Consultor SEO</a></li>
									<li><a href="/asesor-seo/">Asesor SEO</a></li>
                                    <li><a href="/publicaciones">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget subscribe-widget clearfix" data-loader="button">
                                <h4>Mis proyectos</h4>
                                <ul class="list-unstyled footer-site-links nobottommargin">
                                    <li><a href="https://emirodgar.com/recursos-marketing-digital/">Recursos para marketing digital</a></li>
                                    <li><a target="_blank" rel="noopener" href="https://midiendolaweb.com/">Midiendo la web</a></li>
                                    <li><a target="_blank" rel="noopener" href="https://chuletaseo.com">Chuleta SEO</a></li>
                                </ul>
                                <a id="contactEmail" href="mailto:hola@emirodgar.com" class="button button-border button-circle button-light topmargin-sm">hola@emirodgar.com</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget clearfix">
                                <h4>Contacto</h4>
                                <p class="lead">C/ Segunda, 43 - 132
                                    <br/>37188 Salamanca
                                    <br/>(+34) 923 212 869</p>
                                <div class="center topmargin-sm"><a id="btnLinkedIn" target="_blank" rel="noopener" href="https://es.linkedin.com/in/emirodgar" class="social-icon inline-block noborder si-small si-linkedin" title="LinkedIn"><i class="icon-linkedin"></i><i class="icon-linkedin"></i></a><a target="_blank" rel="noopener" id="btnTwitter" href="https://twitter.com/emirodgar" class="social-icon inline-block noborder si-small si-twitter" title="Twitter"><i class="icon-twitter"></i><i class="icon-twitter"></i></a><a target="_blank" rel="noopener" id="btnSlideShare" href="https://es.slideshare.net/emirodgar" class="social-icon inline-block noborder si-small si-linkedin" title="Slideshare"><i class="icon-user"></i><i class="icon-user"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="copyrights">
                <div class="container center clearfix">Mi sueño es ser <b>CDO</b> y vivir en <b>Salamanca</b> - Emirodgar / <span id="anno"></span></div>
            </div>