<div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="icon-line-cross"></i></a></div>
        <div class="side-panel-wrap">
            <div class="widget widget_links clearfix">
                <h4>Emirodgar</h4>
                <hr>
                <div style="font-size: 15px; line-height: 1.7;">
                    Informático con más de 10 años de experiencia en entornos digitales como Consultor, Director y Jefe de Proyecto.
                    <div class="clear topmargin-sm"></div>
                </div>
                <br/>
                <h4>Profesor</h4>
                <hr>
                <div style="font-size: 15px; line-height: 1.7;">
                    Colaboro como docente con la Universidad de Deusto, la Escuela Europea de Negocios y Foro Economía Digital.
                    <div class="clear topmargin-sm"></div>
                </div>
                <br/>
                <h4>Contacto</h4>
                <hr>
                <div style="font-size: 14px; line-height: 1.7;">
                    <address style="line-height: 1.7;">C/ Segunda, 43 - 132<br>37188  Salamanca<br></address>
                    <div class="clear topmargin-sm"></div>
                    923 21 28 69
                    <br>hola@emirodgar.com
                </div>
            </div>
        </div>