{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/emirodgar.jpg" alt="Emilio Rodríguez" />
    {% endif %}

    {% if sidebar.name %}
    <a href="https://emirodgar.es"><h2 class="name">{{ sidebar.name }}</h2></a>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div>

  {% include contact.html %}

  {% if sidebar.education %}
  {% include education.html %}
  {% endif %}


</div>
