{% assign sidebar = site.data.data.sidebar %}
<aside class="sidebar-wrapper" aria-label="Perfil y contacto">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/emirodgar.jpg" alt="Emilio Rodríguez" width="100" height="100" />
    {% endif %}

    {% if sidebar.name %}
    <h2 class="name"><a href="https://emirodgar.es/emilio">{{ sidebar.name }}</a></h2>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div>

  {% include contact.html %}

  <hr>

  {% include experiences.html %}
  {% include education.html %}

</aside>
