{% assign sidebar = site.data.data.sidebar %}
<div class="sidebar-wrapper">

  <div class="profile-container">

    {% if sidebar.avatar %}
    <img class="avatar" src="{{ site.baseurl }}/assets/images/emirodgar.jpg" alt="Emilio Rodríguez" />
    {% endif %}

    {% if sidebar.name %}
    <a href="https://emirodgar.es"><h2 class="name">{{ sidebar.name }}</h2></a>
    {% endif %}

    {% if sidebar.tagline %}
    <h3 class="tagline">{{ sidebar.tagline }}</h3>
    {% endif %}

  </div>

  {% include contact.html %}

  <hr>

<div class="education-container container-block">

    <h2 class="container-block-title">
      EXPERIENCIA
    </h2>

    
    <div class="item">
      <h4 class="degree">Director de Producción</h4>
      <h5 class="meta">Smartup Digital</h5>
      <div class="time">2015 / +80 empleados</div>
    </div>
    
    <div class="item">
      <h4 class="degree">Asesor ICEX</h4>
      <h5 class="meta">Programa ICEX Next</h5>
      <div class="time">2012</div>
    </div>  

  </div>

  <div class="education-container container-block">

    <h2 class="container-block-title">
      Formación
    </h2>

    <div class="item">
      <h4 class="degree">Máster Experto en Comercio Electrónico</h4>
      <h5 class="meta">Universidad de Salamanca</h5>
      <div class="time">2009</div>
    </div>
    
    <div class="item">
      <h4 class="degree">Ingeniero Informático</h4>
      <h5 class="meta">Universidad Pontificia de Salamanca</h5>
      <div class="time">2007</div>
    </div>
    
    
    

  </div>


</div>
