---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="es"> <!--<![endif]-->
{% include head.html %}

<body>
  {% include analytics.html %}
  <div class="wrapper">
    
    <div class="main-wrapper">
	
	{% if page.folder %}
					<div class="meta mb-3">
						
						<span class="date">
							{% if page.date_modified == null %}
							 Publicado el {{ page.date |  date: ' %d/%m/%Y' }}
							 {% else %}
							 Actualizado el {{ page.date_modified |  date: ' %d/%m/%Y' }}
							{% endif %}
						</span>
							
						
						<span class="timereading">{% assign words = content | number_of_words %}
						{% if words < 360 %}
						  / 1 minuto de lectura / 
						{% else %}
						  {{ words | divided_by:180 }} / minutos de lectura / 
						{% endif %}</span>

						{% if page.folder == "analisis" %}
						<span><a href="{{ site.url }}/publicaciones-analisis">Análisis</a></span>
					  	{% endif %}

						{% if page.folder == "elecciones" %}
						<span><a href="{{ site.url }}/publicaciones-elecciones">Elecciones</a></span>
						{% endif %}

						{% if page.folder == "formacion" %}
						<span><a href="{{ site.url }}/publicaciones-formacion">Formación</a></span>
						{% endif %}

						{% if page.folder == "espana" %}
						<span><a href="{{ site.url }}/publicaciones-espana">España</a></span>
						{% endif %}

						{% if page.folder == "ia" %}
						<span><a href="{{ site.url }}/publicaciones-inteligencia-artificial">Inteligencia Artificial</a></span>
						{% endif %}

						{% if page.folder == "europa" %}
						<span><a href="{{ site.url }}/publicaciones-europa">Europa</a></span>
						{% endif %}

						{% if page.folder == "proyectos" %}
						<span><a href="{{ site.url }}/publicaciones-proyectos">Proyectos</a></span>
						{% endif %}

						{% if page.folder == "politica" %}
						<span><a href="{{ site.url }}/publicaciones-politica">Política</a></span>
						{% endif %}

					</div>
					{% endif %}
    
    {{ content }}
    </div>
    {% include sidebar.html %}
  </div>

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

