---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<html lang="es">
{% include head.html %}

<body>
  <a class="skip-link" href="#main-content">Saltar al contenido principal</a>
  {% include analytics.html %}
  <div class="wrapper">

    <main class="main-wrapper" id="main-content">
      <nav class="meta mb-3" aria-label="Ruta de navegación">
        <a href="https://emirodgar.es">Inicio</a>
        <span class="separator" aria-hidden="true"> / </span>
        <a href="https://emirodgar.es/mapa">todas las publicaciones</a>
      </nav>

      {{ content }}

      {% if page.folder %}
        {% assign category = nil %}
        {% for cat in site.data.publication_categories %}
          {% if cat.folder == page.folder %}{% assign category = cat %}{% endif %}
        {% endfor %}

        <hr>
        <div class="meta mb-3">
          <span class="date">
            {% if page.date_modified == null %}
              Publicado el {{ page.date | date: ' %d/%m/%Y' }}
            {% else %}
              Actualizado el {{ page.date_modified | date: ' %d/%m/%Y' }}
            {% endif %}
          </span>

          <span class="timereading">
            {% assign words = content | number_of_words %}
            {% if words < 360 %}
              / 1 minuto de lectura /
            {% else %}
              / {{ words | divided_by: 180 }} minutos de lectura /
            {% endif %}
          </span>

          {% if category %}
          <span><a href="{{ site.url }}{{ category.url }}">{{ category.label }}</a></span>
          {% endif %}
        </div>
      {% endif %}
    </main>

    {% include sidebar.html %}
  </div>

  {% include footer.html %}

  {% include scripts.html %}
</body>

</html>
